.form-container {
    width: 100%;
}
.content-mt {
    margin-top: 2rem;
}

.form-title {
	padding-top: 1rem;
	display: block;
	font-size: 2rem;
	width: 100%;
	text-align: center;
}


.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group-margin-top {
    margin-top: 0.75rem;
}
.input-label-margin-bottom {
    margin-bottom: 0.5rem;
}
.input-label {
	display: block;
    margin-left: 0.5rem;
	font-size: 1rem;
}

.text-input {
	font-size: 1rem;
	background-color: var(--secondary-background);
	border: 0.5px solid var(--secondary-background);
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
}

.select-input {
    font-size: 1rem;
	background-color: var(--secondary-background);
	border: 0.5px solid var(--secondary-background);
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
}

.textarea-input {
	font-size: 1rem;
	background-color: var(--secondary-background);
	border: 0.5px solid var(--secondary-background);
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
}

.has-error {
	border: 0.1rem solid var(--error) !important;
}

.form-buttons-container {
	margin-top: 3.5rem;
	display: flex;
	flex-direction: column-reverse;
	gap: 0.75rem;
	align-items: center;
}

.form-button-size {
	width: 100%;
	max-width: 25rem;
}

.input-error-message {
	color: var(--error);
	margin-top: 0.25rem;
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

.language-title {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	text-align: center;
}
@media(min-width: 780px) {

	.flex-container {
		flex-direction: row;
		gap: 1.5rem;
	}

	
    .form-buttons-container {
		flex-direction: row;
		gap: 1.5rem;
		justify-content: center;
	}

	.form-button-size {
        max-width: 15rem;
    }

	
}